.gym.container {
  display: flex;

  &.content-left {
    width:70px;
  }

  &.content-right {
    float: left;
  }
}

.gym {
  color: rgb(93,109,126);
  font-size: 11px;
  font-weight: 500;
  
  &.enc {
    font-weight: 900;
  }

  &.no-enc {
    font-weight: 300;
  }

  &.member {
    display: inline-block;
    margin-left: 1px;
  }

  &.name {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 7px;
    text-decoration: underline;
  }

  &.sprite {
    display: block;
    height: 48px;
    width: 48px;
    margin-bottom: 10px;
    margin-left: 3px;
  }

  &.info {
  
    margin-bottom: 3px;
	
	&.navilinks {
      margin-top: 3px;    
	  justify-content: center;
      text-align: center;
    }
	
	&.navilinks:before {
      content: '\f018';
      font-family: FontAwesome;
      margin-right: 3px;
      -webkit-font-smoothing: antialiased;
    }

    &.strength {
      font-weight: 900;
      height: 12px;
      width: 12px;
      vertical-align: middle;
    }
  }

  &.pokemon {
    font-size: 9px;

    &.motivation {

      &.heart {
        height: 8px;
        width: 8px;
        margin-right: -1px;
        vertical-align: middle;
      }
    }
  }
}

.raid {
  color: rgb(93,109,126);
  font-size: 11px;
  font-weight: 900;
  margin-bottom: 5px;
  
  &.mid {
    justify-content: center;
    text-align: center;
    margin: 0px 0px 5px 0px;
  }  
  
  &.cd {
    margin: 10px 0px 10px 0px;
  }
  
  &.countdown {
    font-size: 14px;
    font-weight: 900;
  
    &:before {
      content: '\f017';
      display: inline-block;
      font-family: FontAwesome;
      margin: 0px 0px 0px -2px;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }
  }

  &.encounter {
    font-weight: 500;
	margin-bottom: 0px;
	margin-right: 1px;    
	justify-content: center;
    text-align: center;

    &.info {
      font-weight: 900;
	  margin-top: 3px;
    }

    &.pokemon.name {
      font-size: 13px;
    }
  }
}
